<div class="home_page">
<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Welcome to Ostomy Angels</h1>
    <p class="lead">A Donate and Swap Website for Ostomy Supplies</p>
    <hr class="my-4">
    <p>Thank you for visiting our online ostomy supply donation source. We are always looking to add functionality and resources to our site. Please email us at <a href="mailto:OstomyAngelsDonate@gmail.com">OstomyAngelsDonate@gmail.com</a> if you have any questions or suggestions.</p>
    <a class="btn btn-danger btn-lg" href="<%= supplies_path %>" role="button">Learn more</a>
  </div>
</div>
</div>

