<h1>Welcome to our Ostomy Angels Donate and Swap Website!</h1>
<%= image_tag("heart-steth-pexels.jpg", style:"height: 1000px;") %>
<p>Thank you for visiting our online ostomy supply donation source. We are always looking to add functionality and resources to our site. Please email us at <a href="mailto:OstomyAngelsDonate@gmail.com">OstomyAngelsDonate@gmail.com</a> if you have any questions or suggestions.
</p>