<h1>Why We Exist</h1>
<br>
<h2>The mission of the Ostomy Angels group is to provide ostomy supplies and educational resources at no cost (other than shipping) to ostomates in need.</h2>
<br>
<p>
Ostomates all over the country may not be able to obtain affordable supplies or may have a limited collection of supplies. Some ostomates may even have to manage their ostomies using items such as plastic bags, metal cans, rubber gloves, or rags or towels. Their quality of life is poor, and skin care is a major issue. With access to proper supplies, we are able to help these ostomates improve their health and improve their quality of life.</p>

<p>The Ostomy Angels site provides a means of connecting those who have supplies to donate with those who need supplies.</p>

<p>To our donors, thank YOU for making a difference in so many lives through your support of our donation process.</p>
