<div class="contact_page">
<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Contact Us</h1>
<hr class="my-4">
<p>Please email us at <a href="mailto:OstomyAngelsDonate@gmail.com">OstomyAngelsDonate@gmail.com</a> if you have any questions or suggestions.</p>
  </div>
</div>
</div>