<h1>Frequently Asked Questions</h1>
<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How may I obtain supplies from the Ostomy Angels website?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        In order to view/reserve supplies, you must create a user login. Upon logging in, you may view our list of supplies, which also includes descriptions, locations, and limited owner information. To reserve a supply, click on the "Reserve This Item" link. The owner of the supply will be notified via email and will contact you via email to complete the transaction.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How may I donate supplies using the Ostomy Angels website?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        In order to upload supplies, you must create a user login. Upon logging in, you may view our supply list and create a new supply using the "Add a New Supply" link. Please include all requested information, and be sure to add a shipping address if one is not already on file. The shipping address (city and state only) is visible to users in order to assist in making a decision on whether or not to reserve an item.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Why are maps displayed for each supply?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        One of the obstacles many ostomates face is paying for shipping of supplies. The ability to view the location of a supply often helps the ostomate to determine the proximity of a supply to their location, and thus to find a more economical means of obtaining it.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Why do you ask for the shipping address?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Each supply displays a Google Map to show the location. The ability to view the location of a supply often helps the ostomate to determine the proximity of a supply to their location, and thus to find a more economical means of obtaining it. Users can only view your city and state. Street address is not accessible. It also assists us if there is a need to send information to you.
      </div>
    </div>
  </div>
</div>
