  <div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Informational Links</h1>
    <hr class="my-4">
    <p class="lead"><b>DISCLAIMER: </b>All of the referenced groups and links are informative and provide a wealth of knowledge shared by ostomates. Please note that it is your responsibility to have any and all advice offered here checked with your medical practitioner and/or stomal therapy nurse before acting upon it.</p>
  </div>
</div>

<div class="container">
  <div class="jumbotron mt-5">
    <h5 class="display-4">Educational Resources:</h5>
    <ul>
      <li><a href="https://www.coloplast.us/ostomy/people-with-an-ostomy/">Coloplast - Ostomy Care: Everything You Need to Know</a></li>
      <li><a href="https://www.convatec.com/ostomy">ConvaTec Ostomy Facts</a></li>
      <li><a href="http://www.hollister.com/en/ostomycare/ostomylearningcenter">Hollister Ostomy Care Learning Center</a></li>
      <li><a href="https://www.ostomy.org/wp-content/uploads/2018/05/All-In-One-New-Patient-Guide_2018.pdf">UOAA New Ostomy Patient Guide</a></li>      
    </ul>
  </div>
</div>

<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Support Groups and YouTube Sources:</h1>
    <ul>
      <li><a href="https://insideoutostomy.life/resources/facebook/facebook-groups/">Inside Out Facebook Group Resources</a></li> 
      <li><a href="https://www.youtube.com/user/LetsTalkIBD">Let's Talk IBD YouTube Channel</a></li>
      <li><a href="http://www.shieldhealthcare.com/community/ostomylife/">Shield Healthcare Ostomy Life Community</a></li>
      <li><a href="https://www.youtube.com/channel/UCdCpuR_tEjx6NGLx6fFIS1Q">Vegan Ostomy YouTubeChannel</a></li>     
    </ul>
  </div>
</div>
