<h1>Pages#links</h1>

<p>DISCLAIMER: All of the referenced groups are informative and provide a wealth of knowledge shared by ostomates. Please note that it is your responsibility to have any and all advice offered here checked with your medical practitioner and/or stomal therapy nurse before acting upon it.
</p>