<h1>Supply#show</h1>

<h1><%= @supply.name %></h1>
<% if @supply.image.attached? %>
	<%= image_tag @supply.image.variant(resize: '100x200') %>
<% end %>

<h2>Description:</h2>
	<p><%= @supply.description %></p>

