<h1> <%= @current_user.name %>'s Reserved Supplies</h1>
<ul>
	
<% @supplies.each do |supply| %>
  <li>
	  <%= supply.brand + " " + supply.product_name %><span></span> <%= link_to "Cancel Reservation", unreserve_supply_path(supply) %>
  </li>
<% end %>
</ul>

<%= link_to "Go Back to Supplies List", supplies_path %>