.home_page {
  background: image-url("heart-steth-pexels.jpg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;

}

.contact_page {
  background: image-url("hands.jpg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;

}

.links_page {
  background: image-url("people.jpeg");
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
}